label {
  display: flex;
  align-items: center;
  cursor: pointer;
  &:hover {
    color: #0ec3c9;
  }
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  margin: 4px;
  background: #000000;
  border: 2px solid #cccccc;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  position: relative;
  transition: background 0.2s, border-color 0.2s;
}

input[type="checkbox"]:hover {
  border-color: #00b3ff;
  transform: scale(1.2);
}

input[type="checkbox"]:checked::before,
input[type="checkbox"]:checked::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 2px;
  background: linear-gradient(45deg, #00b3ff, #00f2ff);
  transform: translate(-50%, -50%);
}

input[type="checkbox"]:checked::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

input[type="checkbox"]:checked::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  margin: 4px;
  background: #000000;
  border: 2px solid #cccccc;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  position: relative;
  transition: background 0.2s, border-color 0.2s;
  box-sizing: border-box;
}

input[type="radio"]:hover {
  border-color: #00b3ff;
  transform: scale(1.2);
}

input[type="radio"]:checked::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  background: linear-gradient(45deg, #00b3ff, #00f2ff);
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 80px;
  height: 16px;
  margin: 4px;
  background: transparent;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 16px;
  background: #000000;
  border: 2px solid rgba(255, 255, 255, 0.87);
  border-radius: 4px;
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.1);
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 16px;
  height: 12px;
  border-radius: 4px;
  background: linear-gradient(45deg, #00b3ff, #00f2ff);
  cursor: pointer;
  margin-top: 1px;
  transition: all 0.2s ease;
}

input[type="range"]:hover::-webkit-slider-thumb {
  transform: scale(1.2);
}

input[type="range"]:active::-webkit-slider-thumb {
  background: linear-gradient(45deg, #0048ff, #00b3ff);
}

input[type="range"]:disabled::-webkit-slider-thumb {
  background: rgba(255, 255, 255, 0.3);
  border-color: rgba(255, 255, 255, 0.3);
  box-shadow: none;
  transform: scale(1);
}

input[type="range"]:disabled::-webkit-slider-runnable-track {
  border-color: rgba(255, 255, 255, 0.3);
  background: #222;
  box-shadow: none;
}

input[type="text"] {
  margin: 4px;
  border-radius: 4px;
}

button {
  font-size: 12px;
  width: 180px;
  margin: 4px;
  padding: 2px;
  background: #0f0718;
  color: rgba(255, 255, 255, 0.87);
  border: 1px solid rgba(255, 255, 255, 0.87);
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    border-radius: 4px;
    color: #0ec3c9;
    background: #28234e;
  }
  &:active {
    background: #16002e;
    border: 1px solid #0ec3c9;
  }
  &:disabled {
    cursor: not-allowed;
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: rgba(255, 255, 255, 0.3);
    background: #0f0718;
  }
}

fieldset {
  min-width: 100px;
  max-width: calc(100vw - 48px);
  margin: 0 auto;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

legend {
  font-size: 12px;
}

li {
  transition: color 0.3s ease-in-out;
}

li:hover {
  color: #0ec3c9;
  cursor: pointer;
}

p {
  padding: 0 6px;
  margin: -10px 0;
  font-size: 12px;
  flex-shrink: 0;
}

.engine-uci-div {
  background-color: #000000;
  font-family: 'Courier New', Courier, monospace;
  font-size: 11px;
  margin: 6px;
  height: calc(100vh - 148px);
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
  white-space: pre;
}

.region-div {
  position: absolute;
  background-color: rgba(252, 255, 63, 0.4);
  z-index: 2;
}

.region-highlight {
  position: absolute;
  background-color: rgba(88, 255, 138, 0.4);
  z-index: 1;
}

.region-panel {
  top: 0;
  display: flex;
  padding: 4px;
  margin: 0 auto;
  width: 360px;
  height: 36px;
  z-index: 32;
}

.region-panel > button {
  font-size: 14px;
}

.region-action {
  border: solid;
  border-width: 1px;
  position: absolute;
  cursor: pointer;
  z-index: 1;
}

.scroll-field {
  height: 100%;
  overflow: auto;
}

.action-field {
  height: calc(100vh - 40px);
  overflow: auto;
  margin: 0 auto;
}

.pv-field {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 2px 12px;
}

.button-auto {
  width: auto;
}

.status {
  text-align: left;
  margin: 4px 0;
  min-width: 200px;
}

.text {
  margin: 1px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.App {
  background: radial-gradient(#000000, 50%, #162644);
  min-height: 100vh;
  display: flex;
  padding: 4px;
  color: white;
}

.Region {
  background-color: rgba(255, 255, 255, 0.3);
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  color: white;
  position: relative;
  user-select: none;
}

.Region.hidden > * {
  opacity: 0;
}

.Region.hidden > .region-panel {
  opacity: 1;
}

.flex-center {
  display: flex;
  align-items: center;
}

.flex-fit-row {
  width: fit-content;
  height: 100%;
  display: flex;
  justify-content: center;
  margin: auto;
}

.flex-row {
  width: 100%;
  max-width: 380px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.flex-column {
  width: 100%;
  max-height: calc(100vh - 8px);
  display: flex;
  flex-direction: column;
}

.uci-input-div {
  width: 100%;
  display: flex;
  justify-content: center;
}

.board-gauge-div {
  min-width: 220px;
  width: min(calc(100vw - 8px), calc(100vh - 180px));
  display: flex;
  margin: 0 auto;
}

.gauge {
  position: relative;
  width: 32px;
  height: min(calc(100vw - 64px), calc(100vh - 240px));
  min-height: 160px;
  background-color: #354f80;
  margin: 4px auto;
  display: flex;
  justify-content: center;
}

.gauge-light {
  width: 32px;
  background-color: #bdd3ff;
  transition: height 0.5s ease-in-out;
  z-index: 1;
  position: absolute;
}

.gauge-eval {
  position: absolute;
  margin: 0;
  padding: 0;
  font-size: 10px;
  user-select: none;
  z-index: 2;
}

.board-with-pieces {
  min-width: 160px;
  min-height: 160px;
  width: min(calc(100vw - 64px), calc(100vh - 240px));
  height: min(calc(100vw - 64px), calc(100vh - 240px));
  aspect-ratio: 1/1;
  margin: 4px auto;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  position: relative;
}

.virtual-cursor {
  position: absolute;
  width: 10px;
  height: 10px;
  background: red;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  pointer-events: none
}

.board {
  width: 80%;
  height: 80%;
  margin: auto;
}

.spare-pieces-div {
  width: 60%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  border-radius: 12px;
  background-color: rgba(83, 117, 153, 0.3);
}
